@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

.headernavigation{
    display: flex;
    justify-content: space-between;
}
#navbar{
    display: flex;
justify-content: space-evenly;
gap: 20px;
}




.headertitle{
    display: flex;
}

#grp{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
border: 50px;



}

#ban{
    width: 100%;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner{
    position: relative;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient;
    
}
.bannertitle{
    position: absolute;
    color: white;
    top: 5%;
    left:20%
    font-size:10%;

}
.bannerdis{
    position: absolute;
    color: #FFF;
    font-size:8%;
    top:15%
    
}
.populartour{
    display: flex;
    justify-content: space-between;
}
#hotworld{
    display: flex;
    justify-content:space-evenly;
}



.hot{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.world{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.price{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}


.hero{
    

}
.button1{
    color: #FFF;
    background-color: #FF5400;
    border-radius: 8px;
    width: 174px;
height: 52px;
margin-bottom:12vh;
align-content: center;


}
.destination{
    text-align: center;
}
.Newsletter{
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 5%;

}
.news{
    display: flex;
    justify-content:space-evenly;
    margin-bottom:15vh ;
}
#rect8{
    
}
.footerheadline{
    display: flex;
    
    justify-content: center;
    
}
footer{
    background-color: rgba(19, 19, 24, 0.05);
    
    
}
.travel{
    margin-left: 20vw;
    margin-right: 20vw;
    color: #5A5A5D;
}
#soc{
    margin-left: 40vw;
}
#Rights{
margin-left: 40vw;
}
.save{
    color: #FFF;
    background-color: #FF5400;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top:480vh;
    left: 75vw;
    transform: rotate(-19.628deg);
}